<div>

  <h3>

  <a [title]="product.name + ' details'">
    {{ product.name }}
  </a>

  </h3>

  <a class="button fancy-button" (click)="addQuantity()">+</a>

  <input type="number" placeholder="{{product.quantity}}" disabled>
  
  <a class="button fancy-button" (click)="substractQuantity()">-</a>
 
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  

      <!-- <button (click) = "toggleOptions()">
        Options
      </button>
      <div *ngIf = "!isOptionsToggle">
          <div *ngFor="let prodmod of product.prodmods">
              {{prodmod.name}}  {{prodmod.quantity}}
          </div>
      </div> -->
</div>